@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-pickle-900: #2f4858;
  --color-pickle-800: #006980;
  --color-pickle-700: #008d9c;
  --color-pickle-600: #00b1a5;
  --color-pickle-500: #00d49b;
  --color-pickle-400: #42f47f;
  --background-image-home: url("./assets/rick-and-morty-wallpaper.jpg");
}
