@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-brand-500: #01b6a5;
  --color-pickle-500: #42f47f;
  --background-image-home: url("./assets/rick-and-morty-wallpaper.jpg");
}
